{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block stylesheet_content %}{% endblock %}
{% block script_content %}{% endblock %}

{% block body_content %}
<section class="section_wrapper">
	<div class="row">
		<div class="small-3 columns">
			<dl class="tabs" data-tab>
				<dd class="active"><a href="#panel1">Database</a></dd>
				<dd><a href="#panel2">Media Lists</a></dd>
			</dl>
			<div class="tabs-content">
				<div class="content active" id="panel1">
					<table>
						<thead>
							<tr>
								<th width="100">name</th>
								<th>file path</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
						</tbody>
					</table>
				 </div>
				 <div class="content" id="panel2">
					<table>
						<thead>
							<tr>
								<th width="100">name</th>
								<th>file path</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
							<tr>
								<td>Content Goes Here</td>
								<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
							</tr>
						</tbody>
					</table>
				 </div>
			</div>
		</div>
		<div class="small-9 columns">
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>					
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}


{% block end_script_content %}{% endblock %}
