{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block stylesheet_content %}
<link href="{{url_for('static', filename='css/app.css')}}" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block script_content %}{% endblock %}

{% block body_content %}
<header class="header_wrapper">
	<div class="menu">
		<ul>
			<li class="item">DashBoard</li>
			<li class="item">TestClient</li>
			<li class="item">Settings</li>
		</ul>
	</div>
</header>
<section class="section_wrapper">
	<div class="item_list">This is item list (video's list in casparCG server media path)</div>
	<div class="onboard_list">This is the list of wait to be playouted</div>
</section>
<footer class="footer_wrapper">
	<div class="footer"></div>
</footer>
{% endblock %}

